///////////////HEADER/////////////////
.header {
    background-image: linear-gradient(to right bottom, 
    rgba($color-primary-dark,0.8),
    rgba($color-primary-light,0.8)),
    url(../img/port.png);
    background-size: cover;
    background-position: top;

    height: 85vh;

    &__logo {
        max-height: 15vh;
        
    }


    &__text--main {
        font-size: 2.5rem;
        font-weight: 500;
        
    }

    &__text--sub {
        font-size: 1.7rem;
        font-weight: 300;
        
    }


    &__btn {
        color: $color-primary;
        font-size: 1.5rem;
        font-weight: 500;
    }
}
//////////////// NAV ////////////////////////

.nav {
    
    &__container {
        //background-color: $color-secondary;
        border-top: $border-white;
    }

    &-link {
        font-size: 1.7rem;
        font-weight: 500;
        background-color: $color-primary;
        color:$color-white;
        border:$border-white;
    }


    &-link:hover {
        color:$color-primary;
        background-color: $color-white;
        border:$border-primary;
    }
    &-pills &-link.active {
        border:$border-primary;
        background-color: $color-white;
        color: $color-primary;
        
    }


    &__text {
        font-size: 1.7rem;        
    }
}

///////////FOOTER/////////////

.footer {
    background-image: linear-gradient(to right bottom, 
    rgba($color-primary-dark,0.8),
    rgba($color-primary-light,0.8));
}

