

$color-primary-dark: #9b0d01;
$color-primary-light: #c2102e;
$color-primary: #9c2422;
$color-secondary: #f8b253;
$color-grey-main:#e6e4e2;
$color-white:#fff;
$border-white: 1px solid rgba($color: $color-white, $alpha: 1.0);
$border-primary:1px solid rgba($color: $color-primary, $alpha: 1.0);




:root {
    font-size: 62.5%;
    --danger:#9b0d01;
}
 